<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="inicio">DepiTami</a>
        <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#exampleModal" class="navbar-toggler-icon" fill="currentColor" viewBox="0 0 16 16">
            <path  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
        </svg>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="promociones">Promociones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="reserva">Reserva un turno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="inicio-sesion">Inicia sesion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="registro">Registrate</a>
                </li>
            </ul>
        </div>
    </div>
    <app-modal></app-modal>
</nav>